NODE_ENV='development'
PORT=3000
SALT_LENGTH=50
JWT_SECRET=""
MONGODB_URI=""
SENDER_EMAIL=""

email-activate-template=""
password-reset-template=""

MAILJET_PUBLIC_KEY=""
MAILJET_SECRET_KEY=""
ACTIVATE_EMAIL_URL=""
RESET_PASSWORD_URL=""