<!DOCTYPE html>
<html lang="en" data-th-replace="~{views/fragments::skeleton(~{this::content})}">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body class="bg-black">
<section data-th-fragment="content" class="w-full max-w-md mx-auto p-6">
    <div class="max-w-xl mx-auto mb-12 text-center">
        <h1 class="text-3xl font-bold text-gray-500">
            Account
        </h1>
    </div>

    <div class="mt-7 p-4 rounded-xl shadow-sm bg-stone-900 border-zinc-900">
        <h1 class="block text-center text-2xl font-bold text-gray-800 dark:text-white">
            Forgot password?
        </h1>
        <form data-th-action="@{/account/password-reset}" method="post">
            <div class="my-2">
                <label
                        for="email"
                        class="block text-sm mb-1 text-white"
                >
                    Email address
                </label>
                <input
                        type="email"
                        id="email"
                        name="email"
                        class="py-3 px-4 block w-full rounded-lg text-sm focus:ring-4 bg-neutral-900 border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                        required
                        aria-describedby="email-error"
                >
                <p class="hidden text-xs text-red-600 mt-2" id="email-error">
                    Please include a valid email address, so we can get back to you
                </p>
            </div>

            <button
                    type="submit"
                    class="my-2 w-full py-3 px-4 text-sm text-center font-medium rounded-lg border border-slate-900 focus:outline-none shadow-sm hover:shadow-lg hover:border-slate-900 bg-gradient-to-tr from-slate-900 to-slate-600 text-white focus:ring-4 transform active:scale-y-75 transition-transform"
            >
                Reset password
            </button>
            <p class="mt-2 text-sm text-neutral-400">
                Remember your password?
                <a
                        class="cursor-pointer decoration-2 hover:underline focus:ring-4 focus:outline-none focus:underline font-medium text-slate-400"
                        data-th-href="@{/account/sign-in}"
                >
                    Sign in here
                </a>
            </p>
        </form>
    </div>
</section>
</body>
</html>