<!DOCTYPE html>
<html lang="en" data-th-replace="~{views/fragments::skeleton(~{this::content})}">
<head>
    <meta charset="UTF-8">
    <title>HiSudoku</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body class="bg-black">
<section data-th-fragment="content" class="w-full max-w-md mx-auto p-6">
    <div class="max-w-xl mx-auto mb-12 text-center">
        <h1 class="text-3xl font-bold text-gray-500">
            Account
        </h1>
    </div>

    <div
            data-th-if="${param.error}"
            class="bg-red-100 border border-red-200 text-sm text-red-600 rounded-lg p-4 text-sm"
            role="alert"
            tabindex="-1"
            aria-labelledby="hs-with-list-label"
    >
        <h3 id="hs-with-list-label" class="text-sm font-semibold">
            Login unsuccessful!
        </h3>
    </div>

    <div class="mt-7 p-4 rounded-xl shadow-sm bg-stone-900 border-zinc-900">
        <div class="text-center">
            <h1 class="text-2xl font-bold text-white">Sign in</h1>
            <p class="mt-2 text-sm text-neutral-400">
                Don't have an account yet?
                <a
                        data-th-href="@{/account/register}"
                        class="cursor-pointer decoration-2 hover:underline focus:outline-none focus:underline font-medium text-slate-400 focus:ring-4"
                >
                    Sign up here
                </a>
            </p>
        </div>

        <form data-th-action="@{/account/login}" method="post" class="mt-5">
            <div class="my-2">
                <label for="name" class="block text-sm mb-1 text-white">Username</label>

                <input
                        type="text"
                        id="name"
                        name="name"
                        class="py-3 px-4 block w-full rounded-lg text-sm focus:ring-4 bg-neutral-900 border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                        required
                        aria-describedby="name-error"
                >

                <p class="hidden text-xs text-red-600 mt-2" id="name-error">
                    Please include a valid name, so we can get back to you
                </p>
            </div>

            <div class="my-2">
                <label for="password" class="block text-sm mb-1 text-white">Password</label>

                <div class="relative">
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="py-3 px-4 block w-full rounded-lg text-sm focus:ring-4 bg-neutral-900 border-neutral-700 text-neutral-400 placeholder-neutral-500 focus:ring-neutral-600"
                            required
                            aria-describedby="password-error"
                    >
                </div>

                <p class="hidden text-xs text-red-600 mt-2" id="password-error">4+ characters required</p>
            </div>

            <div class="flex items-center justify-end">
                <a
                        class="cursor-pointer decoration-2 hover:underline focus:ring-4 focus:outline-none focus:underline font-medium text-slate-400 m-2"
                        data-th-href="@{/account/forgot-password}"
                >
                    Forgot password?
                </a>
            </div>

            <button
                    type="submit"
                    class="w-full py-3 px-4 text-sm text-center font-medium rounded-lg border border-slate-900 focus:outline-none shadow-sm hover:shadow-lg hover:border-slate-900 bg-gradient-to-tr from-slate-900 to-slate-600 text-white focus:ring-4 transform active:scale-y-75 transition-transform"
            >
                Sign in
            </button>
        </form>
    </div>
</section>
</body>
</html>